<nz-descriptions nzTitle="个人中心" [nzExtra]="extraTpl">
  <nz-descriptions-item nzTitle="姓名">{{user.userName}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="手机">{{user.telephone}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="邮箱">{{user.email}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="个性签名">{{user.signature}}</nz-descriptions-item>
</nz-descriptions>
<ng-template #extraTpl>
  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="show_edit_info = true">编辑</button>
</ng-template>
<nz-modal [(nzVisible)]="show_edit_info" nzTitle="个人信息编辑" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form nz-form class="login-form" (ngSubmit)="edit_user()">
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入用户名!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input [(ngModel)]="user.userName" name="userName"  placeholder="请输入用户名" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入手机号!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="text" nz-input [(ngModel)]="user.telephone" name="password" placeholder="请输入密码" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入手机号!">
          <nz-input-group nzPrefixIcon="phone">
            <input type="text" nz-input [(ngModel)]="user.email" name="telephone" placeholder="请输入手机号" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入邮箱!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="text" nz-input [(ngModel)]="user.email" name="email" placeholder="请输入邮箱" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入个人签名!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="text" nz-input [(ngModel)]="user.signature" name="signature" placeholder="请输入个人签名" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
<!--      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">取消</button>-->
    </form>

  </ng-container>
</nz-modal>
<nz-table #basicTable [nzData]="asset_use_history">
  <thead>
  <tr>
    <th>资产编号</th>
    <th>资产名</th>
    <th>使用方式</th>
    <th>使用时间</th>
    <th>使用状态</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{data.name}}</td>
    <td>{{data.age}}</td>
    <td>{{data.address}}</td>
    <td>
      <a>Action 一 {{data.name}}</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>Delete</a>
    </td>
  </tr>
  </tbody>
</nz-table>
